<li class="pipe-separate left">
  <form class="delete-entry" method="post" action="/entries/<%= entry.id %>" class="inline">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline">
  </form>
</li>